
.idea/
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
.flutter-plugins
.flutter-plugins-dependencies
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties
pubspec.lock
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
